@import url("fonts.css");
 body {
    margin: 0;
    background-color: rgb(255,255,255);
    color: black;
    font-family: "PorscheNextWCy";
    font-size: 1em;
    line-height: 1.5;
    padding: 0;
 }
 section h2 {
    font-size: 1.8;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1.8em;
 }
 div.grid {
    width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auato);
    line-height: 0;
 }
 div.grid figure {
    margin: 0;
    position: relative;
   
 }
 div.grid figure:first-child {
    grid-row: 1/3 ;
    grid-column: 1/3;
 }
 div.grid figure img {
    height: auto;
    max-width: 100%;
    width: auto;
    transition: transform 1s;
 }
 div.grid figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    line-height: 1.5;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 div.grid figure hgroup {
    padding-left: 30px;
    padding-top: 15px;
 }
 div.grid figure h3 {
    font-size: 3.5em;
    font-weight: normal;
    margin: 0;
 }
 div.grid figure p {
    font-size: 1.2em;
    margin: 0;
 }
 div.grid figure ul {
    list-style: none;
    margin: 0;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
 }
 
 div.grid figure li:first-child a {
    background-color: #fff;
    padding: 15px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    display: block;
    transition-property: transform, background-color, color;
    transition-duration: 1s;
 }
 div.grid figure li:first-child a:hover{
    transform: translateY(-5px);
    background-color: red;
    color: #fff;
 }
 div.grid figure li:last-child a {
    padding: 13px 20px;
    text-decoration: none;
    display: block;
    border: 2px solid #fff;
    color: #fff;
    transition-property: transform, border-color, color;
    transition-duration: 1s;

 }
 div.grid figure li:last-child a:hover{
    transform: translateY(-5px) ;
    border-color: red;
    color: red;
 }
 div.grid figure:hover img {
    transform: scale(1.02);

 }
 @media  screen and (max-width:1199px) {
    div.grid {
        width: 720x;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
    }
    div.grid figure:first-child {
        grid-row: 1 ;
        grid-column: 1;
    }
 }
 @media screen and (max-width: 799px) {
    div.grid {
        width: 360px;
        margin: 0 auto;
        grid-template-columns: 1;
        grid-template-rows: repeat(6,auto);
    }
 }